<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucas.android.parsejson">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParseSimpleJson">
        <activity android:name=".glide.LoadImageUsingGlideActivity"></activity>
        <activity
            android:name=".volley.GetUsersActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name=".file.ReadJsonFileFromRawActivity" />
        <activity android:name=".file.ParseJsonFileFromAssetsActivity" />
        <activity android:name=".string.ParseJsonArrayFromStringActivity" />
        <activity android:name=".string.ParseJsonFromStringActivity" />
        <activity android:name=".volley.RegisterActivity" />
        <activity android:name=".file.VolleyGetActivity" />
        <activity android:name=".BaseActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>